<nav class="nav">
    <div class="container">
        <div class="logo">
            <img src="/images/logo.png" width="100">
        </div>
        <div class="main_list" id="mainListDiv">
            <ul>
                <!--
                
                <li><a href="#">About</a></li>
                <li><a href="#">my work</a></li>
                <li><a href="#">disegn</a></li>
             -->
                <li><a href="/">Inicio</a></li>
                <li><a href="/usuarios">Usuarios</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="#">Sair</a></li>
            </ul>
        </div>
        <div class="media_button">
            <button class="main_media_button" id="mediaButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>